<div class="row topic">
  <div class="col-xs-12">
    <%= image_tag topic.user.avatar.thumb,class:"pull-left img-responsive img-bordered rounded-2x"%>
    <div class="right-info">
      <div class="row">
        <div class="col-xs-9">
          <h4><%= link_to topic.title, bbs_topic_path(topic) %></h4>
        </div>
        <div class="col-xs-1">
          <span class="badge rounded-2x badge-u comment-count"><%= topic.comment_count %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6>
            <i class="fa fa-tags"></i>
            <%= link_to topic.topic_node.title, bbs_topics_node_path(node_id: topic.topic_node) %>
            <i class="fa fa-user"></i>
            <%= link_to topic.user.name, user_path(topic.user) %>
            <i class="fa fa-heart"></i>
            <%= topic.likes_count %>人喜欢
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>