<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" style="margin-top: 80px;">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post , class:"reg-page"}) do |f| %>
      <h5>
        <%= devise_error_messages! %>
      </h5>

      <div class="reg-header">
        <h2>重新发送确认邮件</h2>
      </div>

      <div class="row margin-bottom-20">
        <div class="col-xs-12">
          <h4 class="text-center"><%= f.label :email %></h4>
          <%= f.email_field :email, autofocus: true,class:"form-control"%>
        </div>
      </div>

      <div class="row margin-bottom-20">
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.submit "确定", class: 'btn-u btn-block'%>
        </div>
      </div>
  <% end %>
</div>




