<div class="post-comment">
  <h3><%= t("comment") %></h3>

  <%= form_for(@comment) do |f| %>
    
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content , class: "form-control", rows:"8"%>
    </div>

    <br>
    <div class="actions">
      <%= f.submit t("comment"), class:"btn-u" %>
    </div>
  <% end %>
</div>


