<div class="gear">
<div class="row option-list">
  <div class="col-xs-1 col-xs-offset-2 option-item active">
    <%= link_to gear_snowboard_path do %>
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/snowboards_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/snowboards_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/snowboards_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/snowboards_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>雪板</h5>
    <% end %>
    </li>
  </div>
  <div class="col-xs-1 option-item">
    <%= link_to gear_snowboot_path do %>
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/boots_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/boots_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/boots_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/boots_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>雪鞋</h5>
    <% end %>
  </div>
  <div class="col-xs-1 option-item">
    <%= link_to gear_snowbinding_path do %>
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/bindings_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/bindings_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/bindings_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/bindings_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>固定器</h5>
    <% end %>
  </div>
  <div class="col-xs-1 option-item">
    <a href="" onclick='alert("敬请期待!")' >
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/outerwear_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/outerwear_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/outerwear_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/outerwear_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>外套</h5>
    </a>
  </div>
  <div class="col-xs-1 option-item">
    <a href="" onclick='alert("敬请期待!")' >
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/helmets_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/helmets_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/helmets_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/helmets_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>头盔</h5>
    </a>
  </div>
  <div class="col-xs-1 option-item" >
    <a href="" onclick='alert("敬请期待!")' >
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/gloves_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/gloves_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/gloves_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/gloves_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>手套</h5>
    </a>
  </div>
  <div class="col-xs-1 option-item">
    <a href="" onclick='alert("敬请期待!")' >
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/goggles_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/goggles_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/goggles_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/goggles_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>雪镜</h5>
    </a>
  </div>
  <div class="col-xs-1 option-item">
    <a href="" onclick='alert("敬请期待!")' >
      <div class="img-holder">
										<span data-picture="" data-alt="image description">
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/acc_x21.png"><img alt="image description" width="49" height="57" src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/acc_x21.png"></span>
											<span data-width="49" data-height="57" data-src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/acc_x21.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
											<noscript>&lt;img src="http://smpsnowboardmagcom.c.presscdn.com/wp-content/uploads/2014/08/acc_x21.png" alt="image description" width="49" height="57" &gt;</noscript>
										</span>
      </div>
      <h5>其他配件</h5>
    </a>
  </div>
</div>
<div class="row" style="margin-top:50px;">
  <div class="col-xs-8 col-xs-offset-2">
    <% @snowboards.in_groups_of(2,false).each do |group| %>
      <div class="row">
        <% group.each do |snowboard| %>
          <div class="col-xs-6 detail-item">
            <%= link_to snowboard do  %>
              <%= image_tag snowboard.cover %>
              <h3><%= snowboard.title %></h3>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

</div>
