<%= form_for([:admin , @place ], multipart: true) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :regions %>
      <%= f.text_field :region_list, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :site %>
      <%= f.text_field :site, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" ,rows:"10"%>
    </div>

    <div class="form-group">
      <%= f.label :show_map %>
      <%= f.check_box :show_map %>
    </div>

    <div class="form-group">
      <%= f.label :coordinate %>
      <%= f.text_field :coordinate, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :level %>
      <%= f.number_field :level,class:"form-control", step:"1" %>
    </div>

    <div class="form-group">
        <%= f.label :cover %>
        <div class="well">
            <h3>图片预览</h3>
            <%= image_tag f.object.cover.medium %>
            <%= f.file_field :cover , class:"form-control"%>
            <%= f.text_field :remote_cover_url, class:"form-control" , placeholder:"或者原图链接"%>
        </div>
    </div>

    <%= f.label :place_images %>
    <%= f.fields_for :place_images do |p| %>
        <div class="well">
            <div>
            <h3>图片预览</h3>
            <%= image_tag p.object.original.thumb, class:"img-responsive" %>
            </div>

            <div class="form-group">
            <%= p.label :original %>
            <%= p.file_field :original, class: "form-control" %>
            <%= p.text_field :remote_original_url ,class: "form-control" , placeholder:"或者原图链接"%>
            </div>

            <div class="form-group">
            <%= p.label "删除"%>
            <%= p.check_box :_destroy %>
            </div>
        </div>
        <hr/>
    <% end %>
    <br/>
    <div class="actions">
    <%= f.submit "确定", class:"btn btn-default btn-xs"%>
    </div>
<% end %>
