<% @notifications.each do |notify| %>
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1">
        <h5><%= notify.title %></h5>
        <p>
          <%= raw notify.body %>
        </p>
        <h5>原文链接:
          <% if notify.notificable.present? %>
            <%= link_to notify.notificable.title ,notify.notificable%> | <%= cus_time(notify.created_at) %>
          <% else %>
            原文已被删除
          <% end %>
        </h5>
      </div>
    </div>
    <hr/>
<% end %>

<div class="text-center">
  <div class="pagination">
    <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
  </div>
</div>