<div class="text-center">
  <h2>忘记密码了?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

      <br/><br/>
      <div><%= f.submit "发送邮件重设密码" , class: "btn btn-default"%></div>
  <% end %>

</div>
