<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@video.errors.count, "error") %></h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
