<div class="row">
  
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @video.title %> &nbsp;<a href="<%= @video.link %>" target="_blank"><span class="icon-login"></span></a></h1>
    
    <p><%= @video.description %></p>
    <div id="youkuplayer" style="width:100%;height:480px;"></div>
  

    <dl class="dl-horizontal" id="comment_container">
      <% @video.comments.each do |comment| %>
          <dt><%= comment.user.email if comment.user.present? %>:</dt>
          <dd><%= comment.content %></dd>
      <% end %>
    </dl>
  
    <% if current_user %>
      <%= form_for [@video, @comment], remote: true do |f| %>
        <%= render 'comments/form'%>
      <% end %>
    <% end %>
  </div>
  
</div>
<% if Rails.env.development? %>
  <script src="/assets/js/youku.js"></script>
<% else %>
  <script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<% end %>
<script>
  player = new YKU.Player('youkuplayer',{
  styleid: '0',
  client_id: 'c11677d902e397c0',
  vid: '<%= @video.vid %>'
  });
</script>


