<% if @top.count > 4 %>
  <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
    <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
      <div class="carousel-inner">
        <div class="item active">
          <div class="index-top-container-big">
            <%= link_to @top[0] do  %>
              <%= lazy_image_tag @top[0].cover.large %>
            <% end %>
            <span class="magazine-badge label-blue"><%= truncate(@top[0].title, length:30) %></span>
          </div>
        </div>
        <div class="item">
          <div class="index-top-container-big">
            <%= link_to @top[1] do  %>
                <%= lazy_image_tag @top[1].cover.large%>
            <% end %>
            <span class="magazine-badge label-blue"><%= truncate(@top[1].title, length:30) %></span>
          </div>
        </div>
        <div class="item">
          <div class="index-top-container-big">
            <%= link_to @top[2] do  %>
                <%= lazy_image_tag @top[2].cover.large%>
            <% end %>
            <span class="magazine-badge label-blue"><%= truncate(@top[2].title, length:30) %></span>
          </div>
        </div>
      </div>

      <div class="carousel-arrow">
        <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
          <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-4 hidden-sm hidden-xs" style="padding-left:0px;">
    <div class="index-top-container-small" style="margin-bottom:10px;">
      <%= link_to @top[3] do  %>
          <%= lazy_image_tag @top[3].cover.large%>
      <% end %>
      <span class="magazine-badge label-blue"><%= truncate(@top[3].title, length:30) %></span>
    </div>

    <div class="index-top-container-small">
      <%= link_to @top[4] do  %>
          <%= lazy_image_tag @top[4].cover.large %>
      <% end %>
      <span class="magazine-badge label-blue"><%= truncate(@top[4].title, length:30) %></span>
    </div>
  </div>
<% end %>

<hr/>
<div class="row">
  <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="headline headline-md blue" style=""><h2 style="">最近的资讯</h2></div>

      <div class="col-xs-12">
        <div class="row">
          <div class="post_node">
            <% PostNode.all.each do |node| %>
              <%= link_to node.title, post_node_recent_path(node),remote:true,class: "recent_post_link" %>
            <% end %>
          </div>
        </div>

        <div id="recent_posts">
          <%= render partial:"posts/node_recent", locals:{ posts:@posts }%>
        </div>
      </div>

      <%= render partial:"ad",locals: {show:Setting.show_index_ad_2,ad:Setting.index_ad_2, space:true} %>
    </div>

    <hr/>
    <div class="row">
      <div class="headline headline-md red"><h2>最新装备</h2></div>

      <div class="tab-v2 margin-bottom-40">
        <ul class="nav nav-tabs margin-bottom-20">
          <li class="active pull-right"><a data-toggle="tab" href="#snowboard">雪板</a></li>
          <li class="pull-right"><a data-toggle="tab" href="#snowboot">雪鞋</a></li>
          <li class="pull-right"><a data-toggle="tab" href="#snowbinding">固定器</a></li>
        </ul>
        <div class="tab-content">
          <div id="snowboard" class="tab-pane active">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <div class="max-height-600">
                    <%= link_to @snowboards.first do %>
                        <% if @snowboards.first.qiniu_images.present? %>
                            <%= lazy_image_tag @snowboards.first.qiniu_images.first.original.medium %>
                        <% else %>
                            <%= lazy_image_tag @snowboards.first.images.first.large %>
                        <% end %>
                    <% end %>
                  <div class="text-center">
                    <strong><%= @snowboards.first.brand %></strong>
                    <%= link_to @snowboards.first do %>
                        <h5><%= @snowboards.first.name %></h5>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <% @snowboards[1..-1].in_groups_of(2,false) do |group| %>
                    <div class="max-height-200">
                        <div class="row">
                          <% group.each do |snowboard| %>
                              <div class="col-xs-6">
                                  <div class="img-thumb">
                                    <%= link_to snowboard do %>
                                        <% if snowboard.qiniu_images.present? %>
                                            <%= lazy_image_tag snowboard.qiniu_images.first.original.medium %>
                                        <% else %>
                                            <%= lazy_image_tag snowboard.images.first.large %>
                                        <% end %>
                                    <% end %>
                                  </div>
                                  <div class="text-center">
                                    <strong><%= snowboard.brand %></strong>
                                    <%= link_to snowboard do %>
                                        <h5><%= snowboard.name %></h5>
                                    <% end %>
                                  </div>
                              </div>
                        <% end %>
                        </div>
                    </div>

                <% end %>
              </div>

              <% @snowboards.in_groups_of(4,false).each do |group| %>
                  <div class="row">
                    <% group.each do |snowboard| %>
                        <div class="col-xs-3">

                        </div>
                    <% end %>
                  </div>
              <% end %>

            </div>
          </div>
          <div id="snowboot" class="tab-pane magazine-sb-categories">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <div class="max-height-600">
                  <%= link_to @snowboots.first do %>
                      <% if @snowboots.first.qiniu_images.present? %>
                          <%= lazy_image_tag @snowboots.first.qiniu_images.first.original.medium %>
                      <% else %>
                          <%= lazy_image_tag @snowboots.first.images.first.large %>
                      <% end %>
                  <% end %>
                  <div class="text-center">
                    <strong><%= @snowboots.first.brand %></strong>
                    <%= link_to @snowboots.first do %>
                        <h5><%= @snowboots.first.name %></h5>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <% @snowboots[1..-1].in_groups_of(2,false) do |group| %>
                    <div class="max-height-200">
                      <div class="row">
                        <% group.each do |snowboot| %>
                            <div class="col-xs-6">
                              <div class="img-thumb">
                                <%= link_to snowboot do %>
                                    <% if snowboot.qiniu_images.present? %>
                                        <%= lazy_image_tag snowboot.qiniu_images.first.original.medium %>
                                    <% else %>
                                        <%= lazy_image_tag snowboot.images.first.large %>
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="text-center">
                                <strong><%= snowboot.brand %></strong>
                                <%= link_to snowboot do %>
                                    <h5><%= snowboot.name %></h5>
                                <% end %>
                              </div>
                            </div>
                        <% end %>
                      </div>
                    </div>

                <% end %>
              </div>
            </div>
          </div>
          <div id="snowbinding" class="tab-pane magazine-sb-categories">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <div class="max-height-600">
                  <%= link_to @snowbindings.first do %>
                      <% if @snowbindings.first.qiniu_images.present? %>
                          <%= lazy_image_tag @snowbindings.first.qiniu_images.first.original.medium %>
                      <% else %>
                          <%= lazy_image_tag@snowbindings.first.images.first.large %>
                      <% end %>
                  <% end %>
                  <div class="text-center">
                    <strong><%= @snowbindings.first.brand %></strong>
                    <%= link_to @snowbindings.first do %>
                        <h5><%= @snowbindings.first.name %></h5>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <% @snowbindings[1..-1].in_groups_of(2,false) do |group| %>
                    <div class="max-height-200">
                      <div class="row">
                        <% group.each do |snowbinding| %>
                            <div class="col-xs-6">
                              <div class="img-thumb">
                                <%= link_to snowbinding do %>
                                    <% if snowbinding.qiniu_images.present? %>
                                        <%= lazy_image_tag snowbinding.qiniu_images.first.original.medium %>
                                    <% elsif snowbinding.images.present? %>
                                        <%= lazy_image_tag snowbinding.images.first.large %>
                                    <% else %>
                                        还没有图片
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="text-center">
                                <strong><%= snowbinding.brand %></strong>
                                <%= link_to snowbinding do %>
                                    <h5><%= snowbinding.name %></h5>
                                <% end %>
                              </div>
                            </div>
                        <% end %>
                      </div>
                    </div>

                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%= render partial:"ad",locals: {show:Setting.show_index_ad_3,ad:Setting.index_ad_3, space:true } %>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <div class="headline headline-md green"><h2>雪场信息</h2></div>
        <% @places.in_groups_of(4,false).each do |group| %>
            <div class="row">
                <% group.each do |place| %>
                  <div class="col-md-3 col-xs-12">
                    <%= link_to place do %>
                        <div class="img-thumb">
                          <%= lazy_image_tag place.cover.medium %>
                        </div>
                    <% end %>
                    <div class="text-center">
                      <%= link_to place do %>
                          <h5><%= place.name %></h5>
                      <% end %>
                    </div>
                  </div>
                <% end %>
            </div>
        <% end %>
        <%= render partial:"ad",locals: {show:Setting.show_index_ad_4,ad:Setting.index_ad_4, space:true} %>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 hidden-sm hidden-xs">
    <div class="row">
      <%= render "common/guanzhuwomen" %>

      <%= render partial:"ad",locals: {show:Setting.show_index_ad_7,ad:Setting.index_ad_7, space:true} %>
    </div>

    <div class="row">
      <div class="headline headline-md green"><h2>最新视频</h2></div>
      <% @videos.in_groups_of(2,false) do |group| %>
        <% group.each do |video| %>
            <div class="col-xs-6">
              <%= link_to video do%>
                <div class="img-video">
                  <%= image_tag video.thumbnail, class:"img-responsive" %>
                  <p><%= truncate(video.title, length: 20) %></p>
                </div>
              <% end %>
            </div>
        <% end %>
      <% end %>
      <%= render partial:"ad",locals: {show:Setting.show_index_ad_5,ad:Setting.index_ad_5, space:true} %>
    </div>

    <div class="row">
      <div class="blog-twitter margin-bottom-40">
        <div class="headline headline-md red"><h2>最新评论</h2></div>

        <% @comments.each do |comment| %>
            <div class="blog-twitter-inner">
              <i class="fa fa-comments-o"></i>
              <%= link_to comment.user.name, comment.user %>
              <p><%= comment.content %></p>
              <span><%= cus_time(comment.created_at) %></span>
            </div>
        <% end %>
      </div>
      <%= render partial:"ad",locals: {show:Setting.show_index_ad_6,ad:Setting.index_ad_6, space:true} %>
    </div>


  </div>
</div>

