<h2>
  <% if @style %>
    All the <%= @style %>
  <% else %>
    All snowboots
  <% end %>
</h2>

<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <div class="headline">
        <h4>Choose Style</h4>
      </div>

      <div class="row">
        <ul class="list-unstyled col-xs-8">
          <% Snowboot::STYLES.each do |style| %>
            <li> <%= link_to style, snowboots_path(style: style) , class:'color-green'%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="list-container">
      <ul class="item-list" style="list-style:none">
        <% @snowboots.each do |snowboot| %>
        <li style="float:left;width:195px;height:350px; margin:10px;position:relative;">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                <div class="overflow-hidden">
                  <% if snowboot.images.empty? %>
                    no image for this snowboot
                  <% else %>
                    <%= image_tag snowboot.images.first.medium, class:"img-responsive"%>
                  <% end %>
                </div>
                <%= link_to 'Show', snowboot, class:"btn-more hover-effect" %>
              </div>

              <div class="caption">

                <div class="content-boxes-v1">
                  <strong><%= snowboot.brand %></strong>
                  <h5>
                    <%= link_to snowboot.name, snowboot %>
                    <br>
                    <h6>
                      <%= snowboot.style %>
                    </h6>
                  </h5>
                  
                  <% if can? :manage, snowboot %>
                  <%= link_to 'Edit', edit_snowboot_path(snowboot) ,class:"btn btn-xs btn-default"%>
                  <%= link_to 'Destroy', snowboot, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-xs btn-default"%>
                  <% end %>  
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @snowboots %>
      </div>
    </div>
  </div>
</div>




<br>

<%= link_to 'New Snowboot', new_snowboot_path %>
