<%= form_for([:admin, @snowbinding],html:{class: "sky-form", role:"form", multipart:true}) do |f| %>
    <% if @snowbinding.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@snowbinding.errors.count, "error") %> prohibited this snowbinding from being saved:</h2>

          <ul>
            <% @snowbinding.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :brand %>
      <%= f.text_field :brand ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :style %>
      <%= f.text_field :style ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :material %>(cm)
      <%= f.text_field :material ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :baseplate %>
      <%= f.text_field :baseplate ,class:"form-control"%>
    </div>


    <div class="form-group">
      <%= f.label :highback %>
      <%= f.text_field :highback ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :flex %>
      <%= f.text_field :flex ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :anklestrap %>
      <%= f.text_field :anklestrap ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :toestrap %>
      <%= f.text_field :toestrap ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :ratchet %>
      <%= f.text_field :ratchet ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :baseplatepadding %>
      <%= f.text_field :baseplatepadding ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :compatibility %>
      <%= f.text_field :compatibility ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :recommendeduse %>
      <%= f.text_field :recommendeduse ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:"form-control" , rows:"10"%>
    </div>

    <div class="form-group">
      <%= f.label :cover %>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h3>封面预览</h3>
            <%= image_tag f.object.cover.medium, class:"img-responsive" %>
            <%= f.file_field :cover, class: "form-control" %>
            <%= f.text_field :remote_cover_url , class: "form-control",placeholder:"或者图片链接" %>
          </div>
        </div>
      </div>
    </div>

      <%= f.label :qiniu_images %>
      <%= f.fields_for :qiniu_images do |p| %>
          <div class="well">
              <div class="form-group">
                <%= p.label :colors %>
                <%= p.text_field :colors, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= p.label :original %>
                <div class="row">
                  <div class="col-sm-12">
                    <h3>预览</h3>
                    <%= image_tag p.object.original.medium, class: "img-responsive" %>
                    <%= p.file_field :original, class: "form-control" %>
                    <%= p.text_field :remote_original_url , class: "form-control",placeholder:"或者图片链接" %>
                  </div>
                </div>
              </div>
          </div>
          <hr/>
      <% end %>

     <% if false %>
     <div class="form-group">
      <%= f.label :images %>
      <%= f.fields_for :images do |p| %>
          <div class="well images-form">

            <div class="form-group">
              <%= p.label :colors %>
              <%= p.text_field :colors ,class:"form-control"%>
            </div>

            <div class="form-group">
              <%= p.label :small %>
              <%= p.text_field :small, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= p.label :medium %>
              <%= p.text_field :medium, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= p.label :large %>
              <%= p.text_field :large, class: "form-control" %>
            </div>


            <div class="form-group">
              <%= p.label "destroy?"%>
              <%= p.check_box :_destroy %>
            </div>
          </div>
      <% end %>
    </div>

    <% end %>


    <div class="actions">
      <%= f.submit @snowbinding.new_record?? "创建": "更新", class:"btn btn-default btn-xs" %>
    </div>

<% end %>
