<div class="row margin-bottom-20"></div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '新建', new_admin_snowbinding_path, class: "btn btn-default btn-xs" %>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("isTop") %></th>
      <th><%= t("isRecommend") %></th>
      <th><%= link_to t("views_count"), url_for(order: 'views_count') %></th>
      <th><%= t("operation") %></th>
    </tr>
    </thead>
    <tbody>
    <% @snowbindings.each do |snowbinding| %>
        <tr>
          <td><%= link_to snowbinding.name , snowbinding %></td>
          <td><% if snowbinding.top? %> <i class="fa fa-check"></i> <% end %></td>
          <td><% if snowbinding.recommend? %> <i class="fa fa-check"></i> <% end %></td>
          <td><%= snowbinding.views_count %></td>
          <td>
            <% if snowbinding.top? %>
              <%= link_to '取消置顶', cancel_top_admin_snowbinding_path(snowbinding), class:"btn btn-default btn-xs" %>

            <% else %>
              <%= link_to '置顶' , set_top_admin_snowbinding_path(snowbinding), class:"btn btn-default btn-xs"%>

            <% end %>

            <% if snowbinding.recommend? %>
              <%= link_to "取消推荐", cancel_recommend_admin_snowbinding_path(snowbinding), class:"btn btn-default btn-xs" %>
            <% else %>
              <%= link_to "推荐", set_recommend_admin_snowbinding_path(snowbinding), class:"btn btn-default btn-xs" %>
            <% end %>
            <%= link_to '编辑', edit_admin_snowbinding_path(snowbinding), class: "btn btn-default btn-xs" %>
            <%= link_to '删除', admin_snowbinding_path(snowbinding), data:{confirm:"确定?"},method: :delete,class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="text-center">
    <div class="pagination">
      <%= will_paginate @snowbindings , renderer: BootstrapPagination::Rails%>
    </div>
  </div>
</div>
