<div class="row margin-bottom-20"></div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '所有', url_for(), class:"btn btn-default btn-xs" %>
    <%= link_to '已发布', url_for(filter: "published"), class:"btn btn-default btn-xs"%>
    <%= link_to '未发布(待审核)', admin_posts_path(filter: "unpublish") , class: "btn btn-default btn-xs" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>共有文章: <%= Post.unscoped.count %></h4>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th>创建时间</th>
      <th><%= t("isTop") %></th>
      <th><%= t("isRecommend") %></th>
      <th>所属分类</th>
      <th><%= link_to t("views_count"), url_for(order: 'views_count') %></th>
      <th><%= t("operation") %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title , post %></td>
        <td><%= time_ago_in_words(post.created_at) %>前</td>
        <td><% if post.top? %> <i class="fa fa-check"></i> <% end %></td>
        <td><% if post.recommend? %> <i class="fa fa-check"></i> <% end %></td>
        <td> <% if post.post_node.present? %> <%= link_to post.post_node.title, [:admin, post.post_node] %>  <% else %> 没有分类 <% end %></td>
        <td><%= post.views_count %></td>
        <td>
        <% if post.publish %>
            <%= link_to '取消发布', cancel_publish_admin_post_path(post), class:"btn btn-primary btn-xs" %>
        <% else %>
            <%= link_to '发布', set_publish_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <% end %>

        <%= link_to '编辑', edit_post_path(post), class:"btn btn-default btn-xs" %>

        <% if post.top? %>
          <%= link_to '取消置顶', cancel_top_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <% else %>
          <%= link_to '置顶' , set_top_admin_post_path(post), class:"btn btn-default btn-xs"%>
        <% end %>

        <% if post.recommend? %>
            <%= link_to "取消推荐", cancel_recommend_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <% else %>
            <%= link_to "推荐", set_recommend_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <% end %>

        <%= link_to '删除', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <div class="pagination">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<br>


