<div class="row margin-bottom-20"></div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '新建', new_post_path, class: "btn btn-default btn-xs" %>
    <%= link_to '所有', admin_posts_path, class:"btn btn-default btn-xs"%>
    <%= link_to '已审核通过', admin_posts_path(pass:1), class:"btn btn-default btn-xs"%>
    <%= link_to '待审核', admin_posts_path(pass: 0) , class: "btn btn-default btn-xs" %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>题目</th>
      <th>最近置顶</th>
      <th>最近推荐</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.up_at %></td>
        <td><%= post.recommend_at %></td>
        <td>
        <% if not post.pass %>
            <%= link_to '审核通过', pass_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <% else %>
            <button class="btn btn-default btn-xs" disabled>已审核</button>
        <% end %>

        <%= link_to '显示', post , class:"btn btn-default btn-xs" %>
        <%= link_to '编辑', edit_post_path(post), class:"btn btn-default btn-xs" %>
        <%= link_to '置顶' , up_admin_post_path(post), class:"btn btn-default btn-xs"%>
        <%= link_to '取消置顶', down_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <%= link_to "推荐", recommend_admin_post_path(post), class:"btn btn-default btn-xs" %>
        <%= link_to '删除', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <div class="pagination">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<br>


