<%= form_for([:admin, @snowboard],html:{class: "sky-form", role:"form", multipart:true}) do |f| %>
    <% if @snowboard.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@snowboard.errors.count, "error") %> prohibited this snowboard from being saved:</h2>

          <ul>
            <% @snowboard.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :brand %>
      <%= f.text_field :brand ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :style %>
      <%= f.text_field :style ,class:"form-control"%>
    </div>


    <div class="form-group">
      <%= f.label :length %>(cm)
      <%= f.text_field :length ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :profile %>
      <%= f.text_field :profile ,class:"form-control"%>
    </div>


    <div class="form-group">
      <%= f.label :shape %>
      <%= f.text_field :shape ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :flex %>
      <%= f.text_field :flex ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :effectiveedge %>
      <%= f.text_field :effectiveedge ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :waistwidth %>
      <%= f.text_field :waistwidth ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :sidecutradius %>
      <%= f.text_field :sidecutradius ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :stancewidth %>
      <%= f.text_field :stancewidth ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :stancesetback %>
      <%= f.text_field :stancesetback ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :mount %>
      <%= f.text_field :mount ,class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :cover %>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
          <h3>封面预览</h3>
          <%= image_tag f.object.cover.medium, class:"img-responsive" %>
          <%= f.file_field :cover, class: "form-control" %>
          <%= f.text_field :remote_cover_url , class: "form-control",placeholder:"或者图片链接" %>
          </div>
        </div>
      </div>
    </div>

    <%= f.label "图片" %>
    <%= f.fields_for :qiniu_images do |p| %>
        <div class="well">
            <div class="form-group">
              <%= p.label :color %>
              <%= p.text_field :color, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= p.label :original %>
              <div class="row">
                <div class="col-sm-12">
                  <h3>预览</h3>
                  <%= image_tag p.object.original.medium, class: "img-responsive" %>
                  <%= p.file_field :original, class: "form-control" %>
                  <%= p.text_field :remote_original_url , class: "form-control",placeholder:"或者图片链接" %>
                </div>
              </div>
            </div>

              <div class="form-group">
                <%= p.label "destroy?"%>
                <%= p.check_box :_destroy %>
              </div>
        </div>
        <hr/>
    <% end %>

    <div class="actions">
      <%= f.submit @snowboard.new_record?? "创建": "更新", class:"btn btn-default" %>
    </div>

<% end %>

<hr/>
