<div class="row margin-bottom-20"></div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '新建', new_admin_snowboard_path, class: "btn btn-default btn-xs" %>
  </div>
</div>
<div class="row">
    <table class="table">
      <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("isTop") %></th>
        <th><%= t("isRecommend") %></th>
        <th><%= link_to t("views_count"), url_for(order: 'views_count') %></th>
        <th><%= t("operation") %></th>
      </tr>
      </thead>
      <tbody>
      <% @snowboards.each do |snowboard| %>
          <tr>
            <td><%= link_to snowboard.name, snowboard %></td>
            <td><% if snowboard.top? %> <i class="fa fa-check"></i> <% end %></td>
            <td><% if snowboard.recommend? %> <i class="fa fa-check"></i> <% end %></td>
            <td><%= snowboard.views_count %></td>
            <td>
              <% if snowboard.top? %>
                <%= link_to '取消置顶', cancel_top_admin_snowboard_path(snowboard), class:"btn btn-default btn-xs" %>
              <% else %>
                  <%= link_to '置顶' , set_top_admin_snowboard_path(snowboard), class:"btn btn-default btn-xs"%>
              <% end %>

              <% if snowboard.recommend? %>
                <%= link_to "取消推荐", cancel_recommend_admin_snowboard_path(snowboard), class:"btn btn-default btn-xs" %>
              <% else %>
                <%= link_to "推荐", set_recommend_admin_snowboard_path(snowboard), class:"btn btn-default btn-xs" %>
            <% end %>
              <%= link_to '编辑', edit_admin_snowboard_path(snowboard), class: "btn btn-default btn-xs" %>
              <%= link_to '删除', admin_snowboard_path(snowboard), data:{confirm:"确定?"},method: :delete,class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>

<div class="row">
    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @snowboards , renderer: BootstrapPagination::Rails%>
      </div>
    </div>
</div>
