<div class="row margin-bottom-40">
  <div class="col-sm-4">
    <%= image_tag post.cover.medium, class:"img-responsive" %>
  </div>
  <div class="col-sm-8">
    <h2><%= post.title %></h2>
    <ul class="list-unstyled list-inline">
      <li>
        <i class="fa fa-calendar"></i>
        <%= post.created_at.to_date %>
      </li>
      <li>
        <i class="fa fa-comments"></i>
        <%= post.comments.count %> <%= t("comments") %>
      </li>
      <li>
        <i class="fa fa-pencil"></i>
        <%= post.user.present? ? post.user.name: "admin" %>
      </li>
    </ul>
    <p>
      <%= truncate(post.content.html_safe, length: 100) %>
    </p>
    <p>
      <%= link_to post, class:"btn-u btn-u-small" do %>
          <i class="fa fa-location-arrow"></i>
          <%= t("more") %>
      <% end %>
    </p>
  </div>
</div>