<div class="post-item margin-bottom-20">
  <div class="post-list-item-img-container">
    <%= link_to post do  %>
      <%= image_tag post.cover.large ,class:"img-responsive"%>
    <% end %>
  </div>
  <div class="title">
    <div>
     <h3> <%= link_to post.title, post%> </h3>
    </div>
  </div>
  <div class="info">
    <i class="fa fa-user">&nbsp;<%= post.user.name %></i>
    <i class="fa fa-calendar">&nbsp;<%= date(post.created_at) %></i>
    <i class="fa fa-comments-o">&nbsp;<%= post.comments.count %></i>
  </div>
  <div class="tags">
    <ul class="list-unstyled list-inline blog-tags">
      <li>
        <i class="fa fa-tags"></i>
        <%= link_to post.post_node.title, posts_node_path(post.post_node),class:"btn-u btn-u-light-green btn-xs"%>
        <% post.categories.each do |category| %>
          <%= link_to category, category_posts_path(category) %>
        <% end %>
      </li>
    </ul>
  </div>
  <p><%= truncate(strip_tags(post.content), length:100) %></p>
</div>