<h2>所有含有标签 <%= params[:category] %> 的文章</h2>
<hr/>
<div class="row">
  <div class="col-sm-12">

    <% @posts.in_groups_of(3,false) do |group| %>
        <div class="row">
          <% group.each do |post| %>
              <div class="col-sm-4">
                <div class="post-item" style="margin-bottom:40px;">
                  <div class="max-height-200">
                    <%= link_to post do  %>
                        <%= image_tag post.cover.big %>
                    <% end %>
                  </div>
                  <div class="title">
                    <h3><%= link_to post.title, post%></h3>
                  </div>
                  <div class="info">
                    <%= date(post.created_at) %> &nbsp;&nbsp;<i class="fa fa-comments-o"></i>&nbsp;&nbsp;<%= post.comments.count %>
                  </div>
                  <div class="tags">
                    <ul class="list-unstyled list-inline blog-tags">
                      <li>
                        <i class="fa fa-tags"></i>
                        <% post.categories.each do |category| %>
                            <%= link_to category, category_posts_path(category) %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                  <p><%= truncate(strip_tags(post.content), length:100) %></p>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
