<div class="row">
  <div class="col-sm-9">
    <div id="carousel" class="margin-bottom-40 carousel carousel-v1 slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% index = 1 %>
        <% @top_posts.each do |post| %>

            <div class="item <%= index == 1 ? "active":"" %>">
              <%= link_to post  do %>
                <%= image_tag post.cover.big , style: "width:100%"%>
                <div class="carousel-caption">
                  <h3><%= post.title %></h3>
                </div>
              <% end %>
            </div>

          <% index = index + 1 %>
        <% end %>
      </div>

      <div class="carousel-arrow">
          <a data-slide="prev" href="#carousel" class="left carousel-control">
              <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#carousel" class="right carousel-control">
              <i class="fa fa-angle-right"></i>
          </a>
      </div>
      
    </div>

    <%= render partial: "post", collection: @posts %>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <% if can? :create, Post %>
        <div class="text-center">
          <%= link_to t('newpost'), new_post_path, class:"btn btn-default btn-block" %>
        </div>
      <% end %>
    <div class="posts margin-bottom-40">
      <div class="headline headline-md"> 
        <h2>推荐文章</h2>
      </div>
      <% @recommend_posts.each do |post| %>
        <dl class="dl-horizontal">
          <dt>
            <%= link_to post do %>
              <%= image_tag post.cover.thumb %>
            <% end %>
          </dt>
          <dd>
            <p><%= truncate(post.title, length: 20) %></p>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>
