<div class="row">
  <div class="col-md-9 col-md-offset-0 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-md-12">
        <%= render 'node_list' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><%= @node.title %></h2>
        <p><%= @node.description %> | 共有 <%= @node.posts.count %> 篇文章</p>
      </div>
    </div>
    <hr class="devider devider-dotted">
    <% @posts.in_groups_of(2,false) do |group| %>
      <div class="row">
        <% group.each do |post| %>
          <div class="col-md-6">
            <%= render 'post_item_list', post:post %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="margin-bottom-40">
        <% if can? :create, Post %>
          <div class="text-center">
            <%= link_to "我要爆料！", new_post_path, class:"btn-u btn-block" %>
          </div>
        <% else %>
          <div class="text-center">
            <%= link_to '注册后你就能爆料了！', signup_path, class:"btn-u btn-block" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="margin-bottom-40">
        <div class="headline headline-md green"><h2>文章标签</h2></div>
        <p>
          <% Post.pluck(:categories).flatten.uniq.each do |category|%>
            <%= link_to category, category_posts_path(category) ,class:"btn-u btn-xs", style:"margin-top:3px;"%>
          <% end %>
        </p>
      </div>
    </div>

    <div class="row hidden-sm hidden-xs">
      <div class="posts margin-bottom-40">
        <div class="headline headline-md blue">
          <h2>推荐文章</h2>
        </div>
        <% @recommend_posts.each do |post| %>
          <dl class="dl-horizontal">
            <dt>
              <%= link_to post do %>
                <%= image_tag post.cover.thumb %>
              <% end %>
            </dt>
            <dd>
              <%= truncate(post.title, length: 20) %>
            </dd>
          </dl>
        <% end %>
      </div>
    </div>

    <div class="row hidden-sm hidden-xs">
      <div class="blog-twitter margin-bottom-40">
        <div class="headline headline-md yellow"><h2>最新评论</h2></div>
        <% @comments.each do |comment| %>
          <div class="blog-twitter-inner">
            <i class="fa fa-comments-o"></i>
            <%= link_to comment.user.name, comment.user %>
            <p><%= comment.content %></p>
            <span><%= cus_time(comment.created_at) %></span>
          </div>
        <% end %>
      </div>
      <%= render partial:"welcome/ad",locals: {show:Setting.show_index_ad_6,ad:Setting.index_ad_6, space:true} %>
    </div>

    <div class="row">
      <div class="headline headline-md blue"><h2>关注我们</h2></div>
      <div class="col-md-12">
        <img class="img-responsive center-block" src="http://snowooo-cdn.qiniudn.com/qrcode_for_gh_5db68f90c722_258.jpg" alt=""/>
      </div>

      <%= render partial:"welcome/ad",locals: {show:Setting.show_index_ad_7,ad:Setting.index_ad_7, space:true} %>
    </div>

  </div>
</div>
