<table class="table">
  <thead class="table">
    <tr>
      <th>邮件</th>
      <th>用户名</th>
      <th>评论数</th>
      <th>点评数</th>
      <th>发表文章数</th>
      <th>加入时间</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %>  </td>
        <td><%= user.name %></td>
        <td><%= user.comments.count %></td>
        <td><%= user.reviews.count %></td>
        <td><%= user.posts.count %></td>
        <td><%= time_ago_in_words(user.created_at) %>前</td>
        <td><%= link_to '详情', admin_user_path(user), class:"btn btn-default btn-xs" %>
        <%= link_to '删除', admin_user_path(user), method: :delete, data: { confirm: '确认删除?' } , class:"btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <div class="pagination">
    <%= will_paginate @users %>
  </div>
</div>
<br>
<br>

