<%= form_for(@snowboard, html:{class: "sky-form", role:"form"}) do |f| %>
  <% if @snowboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snowboard.errors.count, "error") %> prohibited this snowboard from being saved:</h2>

      <ul>
      <% @snowboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <br>
    <div class="btn-group">
      <% Snowboard::BRAND_OPTIONS.each do |brand| %>
        <%= f.radio_button :brand, brand %> <%= brand %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :length %>(cm)
    <br>
    <div class="btn-group">
      <% Snowboard::LENGTH_OPTIONS.each do |length| %>
          <input type="checkbox" value="<%= length %>" name="snowboard[length][]" <%= (@snowboard.length and @snowboard.length.include? length)? "checked": "" %> > 
        <%= length %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :profile %>
    <% Snowboard::PROFILE_OPTIONS.each do |profile| %>
      <%= f.radio_button :profile, profile %> <%= profile %>
    <% end %>
  </div>


  <div class="form-group">
    <%= f.label :shape %>
    <br>
    <div class="btn-group">
      <% Snowboard::SHAPE_OPTIONS.each do |shape| %>
        <%= f.radio_button :shape, shape %> <%= shape %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :flex %>
    <br>
    <div class="btn-group">
      <% Snowboard::FLEX_OPTIONS.each do |flex| %>
        <%= f.radio_button :flex, flex %> <%= flex %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :effectiveEdge %>
    <%= f.text_field :effectiveEdge ,class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :waistWidth %>
    <%= f.text_field :waistWidth ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :sidecutRadius %>
    <%= f.text_field :sidecutRadius ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :stanceWidth %>
    <%= f.text_field :stanceWidth ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :stanceSetback %>
    <%= f.text_field :stanceSetback ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :mount %>
    <br>
    <div class="btn-group">
      <% Snowboard::MOUNT_OPTIONS.each do |mount| %>
        <%= f.radio_button :mount, mount %> <%= mount %>
      <% end %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :images %>
    <%= f.fields_for :images do |p| %>
      <div class="well images-form">

        <div class="form-group">
          <%= p.label :color %>
          <% Image::COLOR_OPTIONS.each do |color| %>
            <%= p.radio_button :color, color %> <%= color %>         
          <% end %>
        </div>

        <div class="form-group">
          <%= p.label :original_url %>
          <%= p.text_field :original_url, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= p.label :full_url %>
          <%= p.text_field :full_url, class: "form-control" %>
        </div>
        

        <div class="form-group">
          <%= p.label "destroy?"%>
          <%= p.check_box :_destroy %>
        </div>
      </div>
    <% end %>
  </div>
  
  
  <div class="actions">
    <%= f.submit @snowboard.new_record?? "create": "update", class:"btn-u" %>
  </div>

<% end %>
