<%= form_for(@snowboard, html:{class: "sky-form", role:"form"}) do |f| %>
  <% if @snowboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snowboard.errors.count, "error") %> prohibited this snowboard from being saved:</h2>

      <ul>
      <% @snowboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <%= f.text_field :brand ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :length %>(cm)
    <%= f.text_field :length ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :profile %>
    <%= f.text_field :profile ,class:"form-control"%>
  </div>


  <div class="form-group">
    <%= f.label :shape %>
    <%= f.text_field :shape ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :flex %>
    <%= f.text_field :flex ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :effectiveedge %>
    <%= f.text_field :effectiveedge ,class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :waistwidth %>
    <%= f.text_field :waistwidth ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :sidecutradius %>
    <%= f.text_field :sidecutradius ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :stancewidth %>
    <%= f.text_field :stancewidth ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :stancesetback %>
    <%= f.text_field :stancesetback ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :mount %>
    <%= f.text_field :mount ,class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :images %>
    <%= f.fields_for :images do |p| %>
      <div class="well images-form">

        <div class="form-group">
          <%= p.label :color %>
          <%= p.text_field :color ,class:"form-control"%>
        </div>

        <div class="form-group">
          <%= p.label :small %>
          <%= p.text_field :small, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= p.label :medium %>
          <%= p.text_field :medium, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= p.label :large %>
          <%= p.text_field :large, class: "form-control" %>
        </div>
        

        <div class="form-group">
          <%= p.label "destroy?"%>
          <%= p.check_box :_destroy %>
        </div>
      </div>
    <% end %>
  </div>
  
  
  <div class="actions">
    <%= f.submit @snowboard.new_record?? "create": "update", class:"btn-u" %>
  </div>

<% end %>
