<% @snowboards.each do |snowboard| %>
<div class="thumbnails thumbnail-style thumbnail-kenburn", style="width:250px;height:250px;">
  <div class="thumbnail-img">
    <div class="overflow-hidden">
      <%= image_tag snowboard.images[0].original_url, class:"img-responsive", style:"width:250px;height:250px;"%>
    </div>
    <%= link_to 'Show', snowboard, class:"btn-more hover-effect" %>
  </div>

  <div class="caption">
    <h1><%= snowboard.brand %></h1>
    <% if can? :manage, Snowboard %>
    <%= link_to 'Edit', edit_snowboard_path(snowboard) ,class:"btn-u btn-u-default"%>
    <%= link_to 'Destroy', snowboard, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn-u btn-u-default"%>
    <% end %>  
  </div>

</div>
<% end %>

<br>

<% if can? :create, Snowboard %>
  <%= link_to 'New Snowboard', new_snowboard_path,class:"btn-u" %>
<% end %>