<h2>
  <% if @style %>
    所有的<%= t(@style) %>雪板
  <% else %>
    所有的雪板
  <% end %>
</h2>

<div class="row">
  <div class="col-md-2">
    <div class="row">
      <div class="headline">
        <h4>选择风格</h4>
      </div>

      <div class="row">
        <ul class="list-unstyled col-xs-8">
          <% Snowboard::STYLES.each do |style| %>
            <li> <%= link_to t(style), snowboards_path(style: style) , class:'color-green'%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="list-container">
      <ul style="list-style:none" class="item-list">
      <% @snowboards.each do |snowboard| %>
      <li style="float:left;width:195px;height:310px; margin:10px;position:relative;">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <%= image_tag snowboard.cover.large, class: "img-responsive" %>
            </div>
            <%= link_to 'Show', snowboard, class:"btn-more hover-effect" %>
          </div>

          <div class="caption">

            <div class="content-boxes-v1">
              <strong><%= snowboard.brand %></strong>
              <h5>
                <%= link_to snowboard.name, snowboard %>
                <h6>
                  <%= snowboard.style %>
                </h6>
              </h5>
            </div>
              
          </div>
        </div>
      </li>
      <% end %>
      </ul>
    </div>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @snowboards , renderer: BootstrapPagination::Rails%>
      </div>
    </div>
  </div>
</div>
