<h1>Listing snowboards</h1>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snowboards.each do |snowboard| %>
      <tr>
        <td><%= snowboard.name %></td>
        <td><%= snowboard.brand %></td>
        <td>
        <%= link_to 'Show', snowboard , class:"btn btn-default btn-xs"%>
        <% if can? :manage, Snowboard %>
          <%= link_to 'Edit', edit_snowboard_path(snowboard) ,class:"btn btn-default btn-xs"%>
          <%= link_to 'Destroy', snowboard, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-default btn-xs"%>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Snowboard %>
  <%= link_to 'New Snowboard', new_snowboard_path,class:"btn-u" %>
<% end %>