<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <h1> <strong><%= @snowboard.name %></strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">雪板评分(<%= @snowboard.rates.count %> 个人评分)<h1><%= @snowboard.average.present?? @snowboard.average.avg : 0 %></h1> <%= rating_for @snowboard %></div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <div class="headline">
          <h4>技术指标</h4>
        </div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>风格</td>
            <td><%= @snowboard.style %></td>
          </tr>
          <tr>
            <td>长度</td>
            <td>
              <%= @snowboard.length %>
            </td>
          </tr>
          <tr>
            <td>profile</td>
            <td><%= @snowboard.profile %></td>
          </tr>
          <tr>
            <td>shape</td>
            <td><%= @snowboard.shape %></td>
          </tr>
          <tr>
            <td>flex</td>
            <td><%= @snowboard.flex %></td>
          </tr>
          <tr>
            <td>effectiveEdge</td>
            <td><%= @snowboard.effectiveedge %></td>
          </tr>
          <tr>
            <td>waistWidth</td>
            <td><%= @snowboard.waistwidth %></td>
          </tr>
          <tr>
            <td>sidecutRadius</td>
            <td><%= @snowboard.sidecutradius %></td>
          </tr>
          <tr>
            <td>stanceWidth</td>
            <td><%= @snowboard.stancewidth %></td>
          </tr>
          <tr>
            <td>stanceSetback</td>
            <td><%= @snowboard.stancesetback %></td>
          </tr>
          <tr>
            <td>mount</td>
            <td><%= @snowboard.mount %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:right;"><%= @snowboard.brand %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="owl-carousel">
          <% @snowboard.images.each do |img| %>
              <div class="item"><%= image_tag img.medium ,style:"width:100%"%></div>
          <% end %>
          <% @snowboard.qiniu_images.each do |img| %>
          <div class="item"> <%= image_tag img.original.medium, style:"width:100%" %></div>
          <% end %>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div class="headline"><h2>雪板介绍</h2></div>

        <% if @snowboard.description.present? and @snowboard.description.is_a? String %>

          <div class="description-short">
              <%= truncate(strip_tags(@snowboard.description.html_safe), length: 50) %>
          </div>

          <div class="hide description-detail">
            <%= @snowboard.description.html_safe %>
          </div>

          <button class="show-description-detail btn-u btn-block">更多</button>
      <% else %>

        <h3>还没有介绍</h3>
        <% end %>
      </div>
    </div>

    <%= render partial: 'common/social_button',locals: {content: @snowboard.title} %>

    <hr/>
    <div class="row">
      <div class="col-xs-12">
          <div class="headline">
            <h4><span class="comment-count"><%= @snowboard.comment_count %></span> 条评论</h4>
          </div>
      </div>
    </div>

    <div id="comment-container" data-comment-count=<%= @snowboard.comment_count %>>
      <%= render partial: "comments/comment", collection: @snowboard.comments.desc('likes_count') %>
    </div>

    <hr/>
    <% if current_user %>
        <div class="row">
            <%= form_for [@snowboard, Comment.new], remote: true do |f| %>
                <div class="post-comment">
                  <div class="headline">
                    <h3><%= t("comment") %></h3>
                  </div>
                  <div class="field">
                    <%= f.label :content %><br>
                    <%= f.text_area :content , class: "form-control", rows:"8"%>
                  </div>

                  <br>
                  <div class="actions">
                    <%= f.submit t("comment"), class:"btn-u" %>
                  </div>
                </div>
            <% end %>
        </div>

    <% else %>
        <%= render 'common/login_signup_prompt' %>
    <% end %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.owl-carousel').owlCarousel({
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true

        // "singleItem:true" is a shortcut for:
        // items : 1,
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
    });
</script>
