<%= form_for([:admin, @video]) do |f| %>
    <% if @video.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(@video.errors.count, "error") %></h2>

          <ul>
            <% @video.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <%= f.label "选择类别" %>
          <%= f.select :video_node_id, options_from_collection_for_select(VideoNode.all, 'id','title',@video.video_node.present? ? @video.video_node.id: '') , {},class:"form-control"%>
        </div>
        <div class="col-sm-8">
          <%= f.label "优酷链接" %><br>
          <%= f.text_field :url , class:"form-control" %></div>
      </div>

    </div>
    <br/>
    <div class="actions">
      <%= f.submit "确认", class:"btn btn-default btn-xs"%>
    </div>
<% end %>