<div class="row margin-bottom-20"></div>
<div class="row margin-bottom-20">
  <%= link_to '新建视频', new_admin_video_path, class:"btn btn-default btn-xs" %>
</div>
<div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>标题</th>
        <th>最近置顶</th>
        <th>最近推荐</th>
      </tr>
      </thead>
      <tbody>
      <% @admin_videos.each do |admin_video| %>
          <tr>
            <td><%= admin_video.title %></td>
            <td><%= admin_video.up_at %></td>
            <td><%= admin_video.recommend_at %></td>
            <td>
              <%= link_to '详情', admin_video ,class: "btn btn-default btn-xs"%>
              <%= link_to '置顶' , up_admin_video_path(admin_video), class:"btn btn-default btn-xs"%>
              <%= link_to "推荐", recommend_admin_video_path(admin_video), class:"btn btn-default btn-xs" %>
              <%= link_to '编辑', edit_admin_video_path(admin_video) ,class: "btn btn-default btn-xs"%>
              <%= link_to '删除', admin_video_path(admin_video), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-xs"%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>


<div class="text-center">
  <div class="pagination">
    <%= will_paginate @admin_videos , renderer: BootstrapPagination::Rails%>
  </div>
</div>
<br/>
