<div class="row margin-bottom-20"></div>
<div class="row margin-bottom-20">
  <%= link_to '新建视频', new_admin_video_path, class:"btn btn-default btn-xs" %>
</div>
<div class="row">
    <table class="table">
      <thead>
      <tr>
        <th><%= t("name") %></th>
        <th>所属分类</th>
        <th><%= t("isTop") %></th>
        <th><%= t("isRecommend") %></th>
        <th><%= t("views_count") %></th>
        <th><%= t("operation") %></th>
      </tr>
      </thead>
      <tbody>
      <% @videos.each do |video| %>
          <tr>
            <td><%= link_to video.title, video %></td>
            <td><%= video.video_node.title if video.video_node.present? %></td>
            <td><% if video.top? %> <i class="fa fa-check"></i> <% end %></td>
            <td><% if video.recommend? %> <i class="fa fa-check"></i> <% end %></td>
            <td><%= video.views_count %></td>
            <td>
              <%= link_to '详情', video ,class: "btn btn-default btn-xs"%>
              <% if video.top? %>
                <%= link_to '取消置顶', cancel_top_admin_video_path(video), class:"btn btn-default btn-xs" %>
              <% else %>
                <%= link_to '置顶' , set_top_admin_video_path(video), class:"btn btn-default btn-xs"%>
              <% end %>

              <% if video.recommend? %>
                <%= link_to "取消推荐", cancel_recommend_admin_video_path(video), class:"btn btn-default btn-xs" %>
              <% else %>
                <%= link_to "推荐", set_recommend_admin_video_path(video), class:"btn btn-default btn-xs" %>
              <% end %>
              <%= link_to '编辑', edit_admin_video_path(video) ,class: "btn btn-default btn-xs"%>
              <%= link_to '删除', admin_video_path(video), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-xs"%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>


<div class="text-center">
  <div class="pagination">
    <%= will_paginate @videos , renderer: BootstrapPagination::Rails%>
  </div>
</div>
<br/>
