<div class="s-results">

<div class="row">
  <div class="col-sm-12">
    <%= render 'common/search_info' %>
  </div>
</div>

<div class="row s-results">
  <div class="col-md-2">
    <div class="row">
      <div class="col-sm-12 related-search"><%= render 'sidebar' %></div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="list-container">
      <% if @snowbindings.empty? %>
        <h2 class="text-center">抱歉没有找到符合条件的固定器！</h2>
      <% end %>
      <ul style="list-style:none" class="item-list">
      <% @snowbindings.each do |snowbinding| %>
      <li style="float:left;width:195px;height:310px; margin:10px;position:relative;">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
                <%= image_tag snowbinding.cover.large, class:"img-responsive"%>
            </div>
            <%= link_to 'Show', snowbinding, class:"btn-more hover-effect" %>
          </div>

          <div class="caption">

            <div class="content-boxes-v1">
              <strong><%= snowbinding.brand %></strong>
              <h4>
                <%= link_to snowbinding.name, snowbinding %>
                <p>
                  <%= snowbinding.style %>
                </p>
              </h4>
            </div>
              
          </div>
        </div>
      </li>
      <% end %>
      </ul>
    </div>

    <div class="text-center">
      <div class="pagination">
        <%= will_paginate @snowbindings, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
</div>

<% if Rails.env.development? %>
  <%= query_params %>
<% end %>