<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <h1> <strong><%= @snowbinding.name %></strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div>
          综合评分:
          <div class="rate_average rate" data-rate="<%= @snowbinding.rate_average %>" data-readonly="true" data-nomsg="true"></div>(<%= @snowbinding.rates.count %>人点评)
          <h3 style="color:#f98361;">
            <%= @snowbinding.rate_average %>
          </h3>
        </div>
        <div>
          <div class="rate_5 rate" data-rate="5" data-readonly="true"></div> (<%= @snowbinding.rate_5 %>个人)
        </div>
        <div>
          <div class="rate_4 rate" data-rate="4" data-readonly="true"></div> (<%= @snowbinding.rate_4 %>个人)
        </div>
        <div>
          <div class="rate_3 rate" data-rate="3" data-readonly="true"></div> (<%= @snowbinding.rate_3 %>个人)
        </div>
        <div>
          <div class="rate_2 rate" data-rate="2" data-readonly="true"></div> (<%= @snowbinding.rate_2 %>个人)
        </div>
        <div>
          <div class="rate_1 rate" data-rate="1" data-readonly="true"></div> (<%= @snowbinding.rate_1 %>个人)
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <div class="headline">
          <h4>详情</h4>
        </div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td><%= t("snowbinding.style") %></td>
            <td><%= @snowbinding.style %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.material") %></td>
            <td><%= @snowbinding.material %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.baseplate") %></td>
            <td><%= @snowbinding.baseplate %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.highback") %></td>
            <td><%= @snowbinding.highback %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.anklestrap") %></td>
            <td><%= @snowbinding.anklestrap %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.toestrap") %></td>
            <td><%= @snowbinding.toestrap %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.ratchet") %></td>
            <td><%= @snowbinding.ratchet %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.baseplatepadding") %></td>
            <td><%= @snowbinding.baseplatepadding %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.flex") %></td>
            <td><%= @snowbinding.flex %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.compatibility") %></td>
            <td><%= @snowbinding.compatibility %></td>
          </tr>
          <tr>
            <td><%= t("snowbinding.recommendeduse") %></td>
            <td><%= @snowbinding.recommendeduse %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:right;"><%= @snowbinding.brand %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="owl-carousel">
          <% @snowbinding.images.each do |img| %>
              <div class="item"><%= image_tag img.medium ,style:"width:100%"%></div>
          <% end %>
          <% @snowbinding.qiniu_images.each do |img| %>
            <div class="item"> <%= image_tag img.original.medium, style:"width:100%" %></div>
          <% end %>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="headline"><h2>固定器介绍</h2></div>
      <% if @snowbinding.description.present? and @snowbinding.description.is_a? String %>

        <div class="description-short">
          <%= truncate(strip_tags(@snowbinding.description.html_safe), length: 50) %>
        </div>

        <div class="hide description-detail">
          <%= @snowbinding.description.html_safe %>
        </div>

        <button class="show-description-detail btn-u btn-block">更多</button>
      <% else %>

        <h3>还没有介绍</h3>

      <% end %>
    </div>
    <%= render partial: 'common/social_button',locals: {content: @snowbinding.title} %>

    <hr/>
    <div>
      <h3> <span class="reviews-count"></span> 点评</h3>
      <%= render partial: 'reviews/review', collection: @snowbinding.reviews %>
    </div>

    <hr/>

    <% if current_user  %>
      <% if @snowbinding.rated?(current_user) %>
        <h5>您已发表点评</h5>
      <% else %>
        <h3>我来点评</h3>
        <%= render partial: 'reviews/partial_form', locals:{ reviewable: @snowbinding, review: Review.new} %>
      <% end %>
    <% else %>
      <%= render 'common/login_signup_prompt' %>
    <% end %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.owl-carousel').owlCarousel({
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true
        // "singleItem:true" is a shortcut for:
        // items : 1,
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
    });
</script>
