<li><%= link_to '首页', root_path %></li>
<li><%= link_to "资讯NEWS", posts_path,class:"blue" %></li>
<li class="dropdown">
  <%= link_to '装备GEAR','#', class:'dropdown-toggle red', 'data-toggle' => 'dropdown' %>
  <ul class="dropdown-menu">
    <li><%= link_to '装备', gear_path %></li>
    <li class="dropdown-submenu">
      <%= link_to '雪板', '#'%>
      <ul class="dropdown-menu">
        <li><%= link_to '所有雪板', snowboards_path %></li>
        <% Snowboard::STYLES.each do |style| %>
            <li> <%= link_to style, snowboards_path(style: style) %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <%= link_to "雪鞋", "#", class:'dropdown-toggle', 'data-toggle' => 'dropdown' %>
      <ul class="dropdown-menu">
        <li><%= link_to "所有雪鞋",  snowboots_path%></li>
        <% Snowboot::STYLES.each do |style| %>
            <li> <%= link_to style, snowboots_path(style: style) %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <%= link_to "固定器" , "#", class:'dropdown-toggle', 'data-toggle' => 'dropdown'%>
      <ul class="dropdown-menu">
        <li><%= link_to '所用固定器', snowbindings_path %></li>
        <% Snowbinding::STYLES.each do |style| %>
            <li> <%= link_to style, snowbindings_path(style: style) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>
<li class="dropdown">
  <%= link_to "雪场RESORTS", "#", class:'dropdown-toggle green', 'data-toggle' => 'dropdown' %>
  <ul class="dropdown-menu">
    <li><%= link_to "所有雪场", places_path %></li>
    <li><%= link_to "国内雪场", places_region_path("国内") %></li>
    <li><%= link_to "国外雪场", places_region_path("国外") %></li>
  </ul>
</li>

<li class="dropdown">
  <%= link_to "视频VIDEO", videos_path, class:'dropdown-toggle yellow', 'data-toggle' => 'dropdown' %>
  <ul class="dropdown-menu">
    <li><%= link_to "所有的视频",  videos_path %></li>
    <% VideoNode.all.each do |node| %>
        <li><%= link_to node.title, videos_node_path(node) %></li>
    <% end %>
  </ul>
</li>

<li><%= link_to "二手USED" ,'#',class:"purple", onclick: 'alert("正在完善中！")' %></li>
<li><%= link_to "圈子CLUB", bbs_root_path , class:"orange"%></li>

<li>
  <i class="search fa search-btn fa-search"></i>
  <div class="search-open" style="display: none;">
    <div class="input-group animated fadeInDown">
      <input type="text" class="form-control" placeholder="搜索本站">
      <span class="input-group-btn">
        <button class="btn-u" type="button" onclick="Application.search(this)">搜索</button>
      </span>
    </div>
  </div>
</li>