<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @place.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="owl-carousel">
          <% @place.place_images.each do |img| %>
          <div class="item"><%= image_tag img.original.large ,style:"width:100%"%></div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            场地评分(<%= @place.rates.count %> 个人评分)<h1><%= @place.average.present?? @place.average.avg : 0 %></h1> <%= rating_for @place %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-12">
            <% if can? :edit, @place %>
                <%= link_to '编辑', edit_admin_place_path(@place) %>
                <hr/>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
               <%= link_to 'javascript:void(0)',class:"btn-u btn-u-xs" do %>
                  <span class="glyphicon glyphicon-send"></span>
                  <%= @place.site %>
                  <% end %>
               <button class="btn-u btn-u-xs">
                 <span class="glyphicon glyphicon-earphone"></span> <%= @place.phone %>
               </button>
          </div>

        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-12">
            <%= @place.address %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <h3>雪场简介:</h3>
        <p>
          <%= @place.description.html_safe %>
        </p>
      </div>
    </div>

    <%= render partial: 'common/social_button',locals: {content: @place.title} %>

    <hr/>
    <div class="media">
      <h3> <span class="comment-count"><%= @place.comment_count %></span> <%= t("comments") %></h3>
    </div>

    <div id="comment-container" data-comment-count=<%= @place.comment_count %>>
      <%= render partial: "comments/comment", collection: @place.comments.desc('likes_count') %>
    </div>

    <hr/>
    <% if current_user %>
        <%= form_for [@place, @comment], remote: true do |f| %>
            <div class="field">
              <%= f.label :content %><br>
              <%= f.text_area :content , class: "form-control", rows:"8"%>
            </div>

            <br>
            <div class="actions">
              <%= f.submit t("comment"), class:"btn-u" %>
            </div>
        <% end %>
    <% else %>
        <%= render 'common/login_signup_prompt' %>
    <% end %>

  </div>
  <div class="col-sm-3 hidden-xs">
    <div class="row">
      <p>地图</p>
      <div id="baidumap" class="map">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.owl-carousel').owlCarousel({
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true

        // "singleItem:true" is a shortcut for:
        // items : 1,
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
    });
</script>

<script type="text/javascript">
    var map = new BMap.Map("baidumap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(<%= @place.xcoordinate %>, <%= @place.ycoordinate %>), <%= @place.level %>);  // 初始化地图,设置中心点坐标和地图级别
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.disableDragging();
</script>