<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @place.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="owl-carousel">
          <% @place.place_images.each do |img| %>
          <div class="item"><%= image_tag img.original.large ,style:"width:100%"%></div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div>
              综合评分:
              <div class="rate_average rate" data-rate="<%= @place.rate_average %>" data-readonly="true" data-nomsg="true"></div>(<%= @place.rates.count %>人点评)
              <h3 style="color:#f98361;">
                <%= @place.rate_average %>
              </h3>
            </div>
            <div>
              <div class="rate_5 rate" data-rate="5" data-readonly="true"></div> (<%= @place.rate_5 %>个人)
            </div>
            <div>
              <div class="rate_4 rate" data-rate="4" data-readonly="true"></div> (<%= @place.rate_4 %>个人)
            </div>
            <div>
              <div class="rate_3 rate" data-rate="3" data-readonly="true"></div> (<%= @place.rate_3 %>个人)
            </div>
            <div>
              <div class="rate_2 rate" data-rate="2" data-readonly="true"></div> (<%= @place.rate_2 %>个人)
            </div>
            <div>
              <div class="rate_1 rate" data-rate="1" data-readonly="true"></div> (<%= @place.rate_1 %>个人)
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-12">
            <% if can? :edit, @place %>
                <%= link_to '编辑', edit_admin_place_path(@place) %>
                <hr/>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
               <%= link_to 'javascript:void(0)',class:"btn-u btn-u-xs" do %>
                  <span class="glyphicon glyphicon-send"></span>
                  <%= @place.site %>
                  <% end %>
               <button class="btn-u btn-u-xs">
                 <span class="glyphicon glyphicon-earphone"></span> <%= @place.phone %>
               </button>
          </div>

        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-12">
            <%= @place.address %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <h3>雪场简介:</h3>
        <p>
          <%= @place.description.html_safe %>
        </p>
      </div>
    </div>

    <%= render partial: 'common/social_button',locals: {content: @place.title} %>

    <hr/>
    <div>
      <h3> <span class="reviews-count"></span> 点评</h3>
      <%= render partial: 'reviews/review', collection: @place.reviews %>
    </div>

    <% if current_user  %>
      <% if @place.rated?(current_user) %>
        <h5>您已发表点评</h5>
      <% else %>
        <h3>我来点评</h3>
        <%= render partial: 'reviews/partial_form', locals:{ reviewable: @place, review: Review.new} %>
      <% end %>
    <% else %>
        <%= render 'common/login_signup_prompt' %>
    <% end %>
  </div>
  <div class="col-sm-3 hidden-xs">
    <div class="row">
      <p>地图</p>
      <div id="baidumap" class="map">
      </div>
    </div>
  </div>
</div>
<% if @place.show_map %>

  <% content_for :map_js do %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AoosGLCN5hncfMh6u3IoZa90"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
  <% end %>
  <script type="text/javascript">
      var map = new BMap.Map("baidumap");    // 创建Map实例
      var point = new BMap.Point(<%= @place.xcoordinate %>, <%= @place.ycoordinate %>);
      var level = <%= @place.level %>;
      map.centerAndZoom(point, level);  // 初始化地图,设置中心点坐标和地图级别
      map.enableScrollWheelZoom(true);
      var marker = new BMap.Marker(point);  // 创建标注
      map.addOverlay(marker);               // 将标注添加到地图中
      map.setDefaultCursor("url('bird.cur')");

      var opts = {
        width : 200,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "<%= @place.title %>" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
        message:"<%= @place.address %>"
      }
      var infoWindow = new BMap.InfoWindow("地址：<%= @place.address %>", opts);  // 创建信息窗口对象
      marker.addEventListener("click", function(){
        map.openInfoWindow(infoWindow,point); //开启信息窗口
      });
  </script>
<% else %>
  <script>
    $("#baidumap").html("该雪场不提供地图");
  </script>
<% end %>