<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://snowooo-cdn.qiniudn.com/snowooo-icon.png" type="image/x-icon" rel="shortcut icon">
  <link href="http://snowooo-cdn.qiniudn.com/snowooo-icon.png" type="image/x-icon" rel="apple-touch-icon">
  <title>后台</title>

  <!--import lib-->
  <script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/html5sortable/0.1.8/html.sortable.min.js"></script>

  <!--toggle between development and production-->
  <% if Rails.env.production? %>
    <link rel="stylesheet" href="http://cdn.snowooo.com/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href=http://cdn.snowooo.com/plugins/line-icons/line-icons.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="http://cdn.snowooo.com/css/themes/default.css" id="style_color">

    <link rel="stylesheet" href="http://cdn.snowooo.com/css/pages/blog_magazine.css"/>
  <% else %>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color">

    <!--page-->
    <link rel="stylesheet" href="/assets/css/pages/blog_magazine.css"/>
  <% end %>

  <!--customization-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag   'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header hidden-md hidden-lg">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="/" >
            首页
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="nav navbar-nav pull-left">
            <li><%= link_to t("admin.index"), admin_root_path %></li>
          </div>
          <div class="nav navbar-nav">
            <li><%= link_to "置顶管理", admin_tops_path %></li>
            <li class="dropdown">
              <a href=#" class="dropdown-toggle" data-toggle="dropdown" >资讯</a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "资讯管理", admin_posts_path %></li>
                <li><%= link_to '资讯分类管理', admin_post_nodes_path %></li>
              </ul>
            </li>
            <li><%= link_to "雪板管理", admin_snowboards_path %></li>
            <li><%= link_to "雪鞋管理", admin_snowboots_path %></li>
            <li><%= link_to "固定器管理", admin_snowbindings_path %></li>
            <li><%= link_to t("admin.places"), admin_places_path %></li>
            <li class="dropdown">
              <a href=#" class="dropdown-toggle" data-toggle="dropdown">视频</a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to t("admin.videos") , admin_videos_path %></li>
                <li><%= link_to "视频分类", admin_video_nodes_path %></li>
              </ul>
            </li>
            <li><%= link_to t("admin.users") , admin_users_path%></li>
            <li><%= link_to t("admin.settings"), admin_settings_path %></li>
            <li class="dropdown">
              <a href=#" class="dropdown-toggle" data-toggle="dropdown">帖子</a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "帖子管理", admin_topics_path %></li>
                <li><%= link_to "帖子分类", admin_topic_nodes_path %></li>
              </ul>
            </li>
            <li><%= link_to("回到前台", root_path)%></li>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <% if notice %>
      <div class="alert alert-info fade in alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger  fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>

    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>

<% if Rails.env.development? %>
  <script src="/assets/js/app.js"></script>
<% else %>
  <script src="http://cdn.snowooo.com/js/app.js"></script>
<% end %>
<script>
  jQuery(document).ready(function() {
    App.init();
  });
</script>

<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
</html>