<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />

  <link href="http://snowooo-cdn.qiniudn.com/snowooo-icon.png" type="image/x-icon" rel="shortcut icon">
  <link href="http://snowooo-cdn.qiniudn.com/snowooo-icon.png" type="image/x-icon" rel="apple-touch-icon">
  <%= render_page_title %>

  <!--import lib-->
  <script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>

  <!--toggle between development and production-->
  <% if Rails.env.production? %>
    <link rel="stylesheet" href="http://cdn.snowooo.com/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="http://cdn.snowooo.com/plugins/line-icons/line-icons.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="http://cdn.snowooo.com/css/themes/default.css" id="style_color">

    <link rel="stylesheet" href="http://cdn.snowooo.com/css/pages/blog_magazine.css"/>
<% else %>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color">

    <!--page-->
    <link rel="stylesheet" href="/assets/css/pages/blog_magazine.css"/>
  <% end %>

  <!--customization-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag   'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
        <!-- Topbar -->
        <div class="topbar">
          <div class="container-fluid">
            <ul class="loginbar">
              <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs">
                  <a href="/"><img id="logo-header" src="http://snowooo-cdn.qiniudn.com/snowooolog.png?imageMogr2/thumbnail/200x/crop/!200x200a4a30" alt="Logo" style="height: 100px;"></a>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                  <div class="center-block">
                    <%= render partial:"welcome/ad", locals:{show:Setting.show_index_ad_1, ad: Setting.index_ad_1, space:false} %>
                  </div>
                </div>
              </div>
            </ul>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header hidden-md hidden-lg">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="/" >
                  首页
                </a>
              </div>
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-left">
                    <%= render 'common/menu_bar' %>
                </ul>

                <ul class="nav navbar-nav">
                  <%= render 'common/user_nav' %>
                </ul>
              </div>
            </div>
        </div>
        <!-- End Navbar -->
  </div>

  <div class="container">
    <div class="row" style="margin-top:20px;">
    <% if notice %>
        <div class="alert alert-info fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger  fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render 'common/footer' %>

  <% if Rails.env.development? %>
  <div class="well">
    <%= user_omniauth_callback_path(:weibo) %>
  </div>
  <div class="well">
    <%= info.inspect %>
  </div>
  <% end %>

</body>
<script src="http://cdn.snowooo.com/plugins/back-to-top.js"></script>
<% if Rails.env.development? %>
  <script src="/assets/js/app.js"></script>
<% else %>
  <script src="http://cdn.snowooo.com/js/app.js"></script>
<% end %>
<script>
jQuery(document).ready(function() {
    App.init();
});
</script>
<!--[if lt IE 9]>
    <script src="/assets/js/respond.js"></script>
<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41902819-2', 'auto');
  ga('send', 'pageview');
</script>
</html>