<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="" name="description">
  <meta content="" name="author">
  <title>雪圈网</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Optional theme -->
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/assets/css/themes/default.css">

  <!-- CSS Brand Button plugin -->
  <link rel="stylesheet" href="/assets/css/plugins/brand-buttons/brand-buttons.css">
  <link rel="stylesheet" href="http://nxbtch-cdn.qiniudn.com/css/pages/page_404_error.css"/>
  
</head>
<body class="header-fixed">
  <div class="header">
        <!-- Topbar -->
        <div class="topbar">
          <div class="container-fluid">
            <ul class="loginbar">
              <div class="col-sm-2">
                <a href="/"><img id="logo-header" src="http://snowooo-cdn.qiniudn.com/snowooolog.png?imageMogr2/thumbnail/200x/crop/!200x200a4a30" alt="Logo"></a>
              </div>
              <div class="col-sm-10">
                <% if Setting.show_index_ad_1 %>
                  <%= raw Setting.index_ad_1 %>
                <% else %>
                  <img src="http://placekitten.com/1200/200" alt="">
                <% end %>
              </div>
            </ul>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="/" style="visibility: hidden;">
                    <img id="logo-header" src="http://snowooo-cdn.qiniudn.com/snowooolog.png?imageMogr2/thumbnail/80x/crop/!72x72a4a18" alt="Logo">
                </a>
              </div>
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-left">
                    <%= render 'common/menu_bar' %>
                </ul>

                <ul class="nav navbar-nav">
                  <%= render 'common/user_nav' %>
                </ul>
              </div>
            </div>
        </div>
        <!-- End Navbar -->
  </div>

  <div class="container content" style="padding-top:50px;">
    <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <div class="row">
      <%= yield %>
    </div>

    <hr/>

    <div class="row">
      <%= link_to  url_for(:back), class: 'btn btn-info' do %>
          <span class="glyphicon glyphicon-backward"></span>
          <%= t("back") %>
      <% end %>
    </div>
  </div>

  <% if Rails.env.development? %>
  <div class="well">
    <%= user_omniauth_callback_path(:weibo) %>
  </div>
  <div class="well">
    <%= info.inspect %>
  </div>
  <% end %>

</body>
<!-- JS Global Compulsory -->
<script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script src="/assets/js/app.js"></script>
<script>
jQuery(document).ready(function() {
    App.init();
});
</script>

<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
</html>
