<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="" name="description">
  <meta content="" name="author">
  <title>Snowooo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/assets/css/themes/default.css">
</head>
<body>

  <div class="wrapper">
    <div class="header">
      <div class="topbar">
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>

              <a href="/" class="navbar-brand">
                <h1 style="margin-top:14px;margin-left:5px;">
                雪圈
                </h1>
              </a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav pull-left">
                <% if can? :read, Snowboard %>
                  <li class="dropdown pull-left">
                    <%= link_to 'Snowboard', '#', class:'dropdown-toggle', 'data-toggle' => 'dropdown' %>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <%= link_to 'All Snowboards', snowboards_path %>
                        <ul class="dropdown-menu">
                          <% Snowboard::STYLES.each do |style| %>
                            <li> <%= link_to style, snowboards_path(style: style) %></li>
                          <% end %>    
                        </ul>
                      </li>
                    </ul>
                  </li>
                <% end %>
              </ul>

              <ul class="nav navbar-nav">
                

                <% if user_signed_in? %>
                  <li class="pull-right dropdown">
                    <%= link_to current_user.email, '#', class: 'dropdown-toggle', "data-toggle" => "dropdown"%>
                    <ul class="dropdown-menu">
                        <% if can? :manage, User %>
                        <li>
                          <%= link_to 'user management', users_path %>
                        </li>
                        <% end %>

                        <% if can? :manage, Todo %>
                        <li>
                          <%= link_to 'project management', todos_path %>
                        </li>
                        <% end %>

                        <% if current_user.has_role? :admin %>
                        <li>
                          <%= link_to 'sidekiq', sidekiq_web_path, target:'_blank' %>
                        </li>
                        <% end %>
                      <li>
                        <%= link_to 'sign out', logout_path ,method: :delete  %>
                      </li>
                    </ul>
                  </li>

                <% else %>
                  <li>
                    <%= link_to 'signup', signup_path  %>                   
                  </li>
                  <li class="pull-right">
                    <%= link_to 'login', login_path %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container content">
      
      <% if notice %>
        <div class="row margin-bottom-20">
          <div class="alert alert-info fade in alert-dismissable">
          <%= notice %>
          </div>  
        </div>
      <% end %>

      <% if alert %>
        <div class="row margin-bottom-20">
          <div class="alert alert-danger fade in alert-dismissable">
          <%= alert %>
          </div>  
        </div>
      <% end %>

      <%= yield %>
    </div>
  
  </div>

  <% if Rails.env.development? %>
  <div class="well">
    <%= info.inspect %>
  </div>
  <% end %>

</body>
<!-- JS Global Compulsory -->
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="/assets/plugins/back-to-top.js"></script>

<!-- JS Page Level -->
<script src="/assets/js/app.js"></script>
<script>
jQuery(document).ready(function() {
    App.init();
});
</script>

<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
</html>
