<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="" name="description">
  <meta content="" name="author">
  <title>雪圈网|BBS</title>
  <script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script src="http://cdn.bootcss.com/turbolinks/1.3.0/turbolinks.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="//cdn.ckeditor.com/4.4.5/standard/ckeditor.js"></script>

  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!--owlgraphic carousel-->
  <link href="http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="header-fixed bbs">
<div class="header">
  <!-- Navbar -->
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header hidden-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <%= link_to bbs_root_path , class:"navbar-brand" do %>
        <% end %>
      </div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-left">
          <%= render 'common/bbs_nav' %>
        </ul>

        <ul class="nav navbar-nav">
          <%= render 'common/user_nav' %>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</div>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <% if notice %>
        <div class="alert alert-info fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger  fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <%= yield %>
  </div>
</div>

<% if Rails.env.development? %>
    <div class="well">
      <%= user_omniauth_callback_path(:weibo) %>
    </div>
    <div class="well">
      <%= info.inspect %>
    </div>
<% end %>

</body>


<script>
    jQuery(document).ready(function() {
        App.init();
    });
</script>

<!--[if lt IE 9]>
<script src="assets/js/respond.js"></script>
<![endif]-->
</html>
